/* 2. ESTILOS DE PLANS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  html {

    scroll-behavior: smooth;

  }

  body {
    background-image: url(/assets/plans.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
  }


  .nav-plans {

    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 0;
    margin: 0;
    /* position: relative;
    z-index: 1; */
    display: flex;
  }

  .container-logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .container-logo img {
    width: 12%;
    margin-left: 5%;
  }

  .container-items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;


  }

  .nav-plans-items {
    list-style: none;
    display: flex;
    align-items: center;

  }

  .nav-plans-items li {
     margin-right: 5%;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;
  }

  .nav-plans-items a:link, .nav-plans-items a:visited, .nav-plans-items a:active {
    text-decoration:none;
    color: white;
  }

  .nav-plans-items a:hover {

    color: rgb(172, 67, 119);
    cursor: pointer;
    font-weight: bolder;

  }

  /* .img-plans {
    width: 100%;
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
  } */

  .plan-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .cards {

    background-color: white;
    opacity: 0.9;
    /* background-image: url(/assets/cards-img.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    color: black;
    border-radius: 5%;
    /* z-index: 1; */
    width: 30%;
    padding: 1.5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .cards h2 {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: darkmagenta;
    font-weight: 800;
  }

  .cards p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .price {
    background-color: black;
    text-align: center;
    color: white;
    width: 55%;
    margin: auto;
    padding: 1%;
    margin-bottom: 5%;
  }

  .rate {
    color: darkmagenta;
  }

  .want-it:link, .want-it:visited, .want-it:active {

    text-decoration: none;
    color: rgb(51, 51, 182);
    font-weight: bold;
  }

  .want-it:hover {
    color: rgb(175, 29, 29);
  }

  footer {
    margin-bottom: 0;
    position: relative;
    
  }

  .iconos-footer {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 15%;
    padding: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    position:fixed;
  }

.fab {
    color: white;
    font-size: 2em;
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-facebook:hover {
    color: #3b5998;
    cursor: pointer;
}

.fa-instagram:hover {
    color: #c13584;
}

.fa-youtube:hover {
    color: #ff0000;
}

/* MEDIA QUERYS */

@media only screen and (max-width: 1000px){


.nav-plans {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

.container-items {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-logo img {
  width: 25%;
  margin-left: 5%;
}

.nav-plans-items {
  list-style: none;
  margin-left: 5%;
  width: 100%;

}

.plan-container {
  display: flex;
  flex-direction: column;

}

/* .img-plans {
  width: 0;
} */

.cards {
  width: 70%;
  margin-top: 5%;
  /* background-color: black;
  color: white; */
}
.price {

  width: 30%;

}

.iconos-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  position: relative;
  margin-top: 5%;
}
}

@media only screed and (max-width: 900px) {

  .cards {
    width:40%;
  }
  
  }

@media only screen and (max-width: 300px) {

  .container-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: small;
  }
  
  .container-logo img {
    width: 30%;
    margin-left: 5%;
  }
  
  .nav-plans-items {
    list-style: none;
    width: 100%;
  
  }

  .cards {
    width: 90%;
  }

  .price {
    width: 90%;
  }
}